{% include 'header.j2' +%}
{% include 'interface_common_rpc.j2' %}
{% include 'interface_access_rpc.j2' %}
{% include 'interface_trunk_rpc.j2' %}
{% include 'interface_l3_rpc.j2' %}
{% include 'footer.j2' %}