{# Common interface header template. Use a Jinja2 'include' statement to put
   this below any any interface configuration template. #}
      </{{ template_data.interface_type }}>
    </interface>
  </native>
</config>